test:
  workers:
    type: local
    number: 10
  rounds:
    - label: initLedger
      txNumber: 1
      rateControl:
          type: fixed-rate
          opts:
            tps: 1
      workload:
        module: /caliper-workload/initLedger.js

    - label: common
      txNumber: 2000
      rateControl:
          type: fixed-rate
          opts:
            tps: 300
      workload:
        module: /caliper-workload/testcommon1.js

    - label: common
      txNumber: 2000
      rateControl:
          type: fixed-rate
          opts:
            tps: 300
      workload:
        module: /caliper-workload/testcommon2.js

    - label: common
      txNumber: 2000
      rateControl:
          type: fixed-rate
          opts:
            tps: 100
      workload:
        module: /caliper-workload/testcommon3.js

    - label: common
      txNumber: 2000
      rateControl:
          type: fixed-rate
          opts:
            tps: 300
      workload:
        module: /caliper-workload/testcommon4.js

